@using Microsoft.Data.SqlClient;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




<h2 style="text-align: center;"> Your Cart</h2>
<br />
@{
    int totalPrice = 0;
}

<table class="table">
    <thead>
        <tr>
            <th>Cart ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CartModel cart in @ViewBag.CartsList)
        {
            <tr>
                <td>@cart.Cart_Id</td>
                <td>@cart.Product_Name</td>
                <td>
                    <span class="quantity">@cart.Quantity</span>
                    <button class="btn btn-primary add" data-price="@cart.Price"> ➕ </button>
                    <button class="btn btn-primary remove" data-price="@cart.Price">  ➖  </button>
                </td>
                <td class="price">@cart.Price</td>
                <td>
                   
                    <button class="btn btn-danger remove-item" type="button" data-cartid="@cart.Cart_Id"> X </button>

                </td>
                
            </tr>
            
            
            

        }
        
    </tbody>
</table>

@foreach (var cartItem in @ViewBag.CartsList)
{
    totalPrice += cartItem.Price;
}


@{
    // Retrieve the count of items in the cart table
    int cartItemCount = 0;
    string connectionString = "Data Source=localhost;Initial Catalog = FashionDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False";
    string query = "SELECT COUNT(*) FROM Carts";

    using (SqlConnection connection = new SqlConnection(connectionString))
    {
        SqlCommand command = new SqlCommand(query, connection);
        connection.Open();
        cartItemCount = (int)command.ExecuteScalar();
    }

    // Check if the cart table is not empty
    if (cartItemCount > 0)
    {
        // Render the order button
        <a href="/Cart/Order">
            <button class="btn btn-primary float-right"> Order !</button>
        </a>
    }
}


<script>
    $(document).ready(function () {
        $('#myModal').modal('show');
        $('.add, .remove').click(function () {
            var $quantity = $(this).siblings('.quantity');
            var $price = $(this).data('price');
            var newQuantity = parseInt($quantity.text());
            if ($(this).hasClass('add')) {
                newQuantity += 1;
            } else {
                newQuantity -= 1;
                if (newQuantity < 1) {
                    newQuantity = 1;
                }
            }
            var newPrice = newQuantity * $price;
            $quantity.text(newQuantity);
            $(this).parents('tr').find('.price').text(newPrice);

            var cartId = $(this).closest('tr').find('td:first-child').text();
            $.ajax({
                type: "POST",
                url: "/Cart/UpdateCartItem",
                data: { "Cart_Id": cartId, "Quantity": newQuantity, "Price": newPrice },
                success: function () {
                    // Update the UI
                    //updateTotalPrice();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        });
        
        $('.remove-item').click(function () {
            var cartId = $(this).data('cartid');
            if (confirm("Are you sure you want to remove item " + cartId + " from your cart?")) {
                // User clicked "OK"
                $.ajax({
                    type: "POST",
                    url: "/Cart/RemoveCartItem",
                    data: { "Cart_Id": cartId },
                    success: function () {
                        // Update the UI
                        location.reload();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            } else {
                // User clicked "Cancel"
                // Do nothing
            }
        });
        
    });

</script>