@model IEnumerable<FashionStore.Models.ColorModel>

@{
    ViewData["Title"] = "ColorAPIIndex";
}

<h1 style="text-align:center">Put In Color! 🎨</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Color_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color_Name)
            </th>
            <th>Edit / Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Color_Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Color_Id" class="btn btn-info">Edit</a> |
               @* <a asp-action="Details" asp-route-id="@item.Color_Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Color_Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
