@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
        table {
            border: 2px solid #555;
            width: 100%;
            margin-bottom: 1rem;
            background-color: #fff;
            color: #212529;
        }

        /* Style the table header */
        th {
            text-align: left;
            padding: 0.75rem;
            border-bottom: 1px solid #dee2e6;
            border-top: 1px solid #dee2e6;
            font-weight: bold;
        }

        /* Style the table rows */
        tr {
            border-bottom: 1px solid #dee2e6;
        }
    </style>
</head>
<table class="table" border="1">
    <thead>
        <tr>
            <th style="background-color: #f0cf15;">Order Id</th>
            <th style="background-color: #f0cf15;">Order Date</th>
            <th style="background-color: #f0cf15;">Total Amount</th>
            <th style="background-color: #f0cf15;">Payment</th>
            <th style="background-color: #f0cf15;">User Email</th>
            <th style="background-color: #f0cf15;">Download</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderModel order in ViewBag.OrdersList)
        {
            <tr>
                <td>@order.Order_Id</td>
                <td>@order.Order_Date</td>
                <td>@order.Total_amount</td>
                <td>@order.Paid</td>
                <td>@order.User_Email</td>
                <td>
                    <form asp-action="Download" asp-controller="UserOrders">
                        <input type="hidden" value="@order.Order_Id" name="OrderId" />
                        <input type="hidden" value="@order.Order_Date" name="OrderDate" />
                        <input type="hidden" value="@order.Total_amount" name="TotalAmount" />
                        <input type="hidden" value="@order.Paid" name="Paid" />
                        <input type="hidden" value="@order.User_Email" name="UserEmail" />

                        <button class="btn btn-primary">Download!</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<br/>

<table class="table" border="1">
    <thead>
        <tr>
            <th style="background-color: #f0cf15;">OrderItem Id</th>
            <th style="background-color: #f0cf15;">Order Id</th>
            <th style="background-color: #f0cf15;">Product Id</th>
            <th style ="background-color: #f0cf15;">Product Name</th>
            <th style="background-color: #f0cf15;">Color</th>
            <th style="background-color: #f0cf15;">Size</th>
            <th style="background-color: #f0cf15;">Quantity</th>
            <th style="background-color: #f0cf15;">Price</th>
            <th style="background-color: #f0cf15;">UserEmail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderItemModel order in ViewBag.OrdersItemList)
        {
            <tr>
                <td>@order.OrderItem_Id</td>
                <td>@order.Order_Id</td>
                <td>@order.Product_Id</td>
                <td>@order.Product_Name</td>
                <td>@order.Color</td>
                <td>@order.Size</td>
                <td>@order.Quantity</td>
                <td>@order.Price</td>
                <td>@order.User_Email</td>
            </tr>
        }
    </tbody>
</table>
