@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table">
    <thead>
        <tr>
            <th style="background-color: #f0cf15;">Order Id</th>
            <th style="background-color: #f0cf15;">Order Date</th>
            <th style="background-color: #f0cf15;">Total Amount</th>
            <th style="background-color: #f0cf15;">User Email</th>
            @*<th>OrderItem Id</th>
            <th>Cart Id</th>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (OrderModel order in ViewBag.OrdersList)
        {
            <tr>
                <td>@order.Order_Id</td>
                <td>@order.Order_Date</td>
                <td>@order.Total_amount</td>
                <td>@order.User_Email</td>
                @*<td>@order.OrderItem_Id</td>
                <td>@order.Cart_Id</td>
                <td>@order.Product_Id</td>
                <td>@order.Product_name</td>
                <td>@order.Quantity</td>
                <td>@order.Price</td>*@
            </tr>
        }
    </tbody>
</table>
<br />

<table class="table">
    <thead>
        <tr>
            <th style="background-color: #f0cf15;">OrderItem Id</th>
            <th style="background-color: #f0cf15;">Order Id</th>
            <th style="background-color: #f0cf15;">Product Id</th>
            <th style="background-color: #f0cf15;">Product Name</th>
            <th style="background-color: #f0cf15;">Color</th>
            <th style="background-color: #f0cf15;">Size</th>
            <th style="background-color: #f0cf15;">Quantity</th>
            <th style="background-color: #f0cf15;">Price</th>
            <th style="background-color: #f0cf15;">UserEmail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderItemModel order in ViewBag.OrdersItemList)
        {
            <tr>
                <td>@order.OrderItem_Id</td>
                <td>@order.Order_Id</td>
                <td>@order.Product_Id</td>
                <td>@order.Product_Name</td>
                <td>@order.Color</td>
                <td>@order.Size</td>
                <td>@order.Quantity</td>
                <td>@order.Price</td>
                <td>@order.User_Email</td>
            </tr>
        }
    </tbody>
</table>
